{% extends 'auto/base.html' %}

{% block content %}
{% load static %}
    <div class="post">
        <div class="date">
                {{ ad.day }} {{  ad.ad_user  }}
        </div>
        <p>Марка: {{ ad.maker }} <br/>
            Модель: {{ ad.automodel }} <br/>
           Тип кузова: {{ ad.body }} <br/>
            Цвет кузова: {{ ad.color }} <br/>
            Год выпуска: {{ad.year}} <br/>
            Цена: {{ad.price}}  <br/>
        {% if user.is_authenticated %}
            Телефон: {{ ad.phone }} <br>
        {% endif %}
        {% if ad.status is True %}
            Активное объявление
        {% else %}
            Объявление закрыто
        {% endif %}
        </p>
        <div>
        {% if ad.pic %}
            <img src="{{ MEDIA_URL }}{{ ad.pic }}" onerror="this.src = '{% static "auto/default.png" %}';"/>
        {% else %}
            <img src="{% static "auto/default.png" %}"/>
        {% endif %}
        </div>

    </div>
{% endblock %}