.page-header {
    background-color: #9e3fd9;
    margin-top: 0;
    padding: 20px 20px 20px 60px;
}

h1, h2 {
    font-family: 'Press Start 2P', cursive;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 38pt;
    text-decoration: none;

}

.post h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 16pt;
}

.top-menu {
    float: right;
    margin-right: 40px;
}